<html>
<div style="display:flex">
  <!-- Nav tabs -->
  <div>
  <h4> <a href="/">home</a></h4>
    </div>
    <div style="margin-left:100px">
    <h4><a href="about">About</a></h4>
  </div>
</div>
<div style="width:800px;height:200px">
    <h1>Hi folks this is sachin ,this is my machine learing project which detected the note authentication</h1>
    <p>This example aims to detect fraudulent notes accurately.

For that, a set of 
images taken from genuine
 and forged banknote-like specimens is
 created. Features such as wavelet variance,
 wavelet skewness, wavelet kurtosis, and image entropy
 are extracted from the images</p>
 
 the accuracy of the prediction is nearly 98 %
 </div>
 <div><img style="width:500px;height:300px" src="static/accuracy.png"</img></div>
</html>